<ul class="my_container menu_right_flashcard">
    <li>
        <a href="#">
            <i class="fa-solid fa-bookmark"></i> 
            Đã lưu
        </a>
    </li>
    <li>
        <a href="#">
            <i class="fa-solid fa-folder"></i>
            Flashcard của tôi
        </a>
    </li>
    <li>
        <a href="/flashcards/new">
            <i class="fa-solid fa-plus"></i>
            Thêm flashcard
        </a>
    </li>
</ul>