<% provide(:title, "Hoi-dap") %>

<% if logged_in? %>
<div class="row">
    <div class="col-3"></div>

    <div class="col-3 fix_div_forum">
        <%= render 'flashcards/list_flashcard' %>
    </div>

    <div class="col-1"></div>

    <div class="col-4">
        <%= render 'flashcards/flashcard' %>
    </div>

    <div class="col-3">
        <%= render 'flashcards/list_menu_right' %>
    </div>

    <div class="col-1"></div>
</div>

<% else %>
    <%= render 'shared/not_logged' %>
<% end %>