.post_snapshot {
    width: 100%;
    border: 1px solid rgb(143, 143, 143);
    border-radius: 5px;
}

.post_snapshot:hover {
    background: rgb(221, 221, 221);
}

.choose_file_snapshot{
    margin-left: 16px;
    border: none;
}

.post_image {
    border-radius: 5px;
}
