.fix_btn_post_snapshot{
    .post_snapshot {
        width: 100%;
        background: #fff0f0;
        color: #aa1d1d;
        padding: 2px;
        border: 1px solid #aa1d1d;
        border-radius: 8px;
    }
    .fix_btn_comment {
        margin-top: 5px;
    }
}


.post_snapshot:hover {
    color: #ffffff;
    background: #e43e3e;
}

.choose_file_snapshot{
    margin-left: 16px;
    border: none;
}

.post_image {
    border-radius: 5px;
}

.delete_snapshot_pf {
    width: 160px;
    background: #e6e6e6;
    padding: 5px;
    border-radius: 6px;
    button {
        border: 0;
    }
    li {
        cursor: pointer;
    }
    li:hover {
        cursor: pointer;
        color: #921111;
    }
}