.post_snapshot {
    width: 100%;
    background: #ffffff;
    color: #000000;
    padding: 2px;
    border: 1px solid #aa1d1d;
    border-radius: 8px;
}

.post_snapshot:hover {
    color: #ffd8d8;
    background: #aa1d1d;
}

.choose_file_snapshot{
    margin-left: 16px;
    border: none;
}

.post_image {
    border-radius: 5px;
}

.delete_snapshot_pf {
    width: 160px;
    background: #e6e6e6;
    padding: 5px;
    border-radius: 6px;
    button {
        border: 0;
    }
    li {
        cursor: pointer;
    }
    li:hover {
        cursor: pointer;
        color: #921111;
    }
}