<div class="my_container">
    <%= render 'shared/search' %>
    <hr>
    <div class="list_forum_left">
        <p>Lối tắt</p>
        <li><a href="#" class="row">
            <div class="col-2"><i class="fa-solid fa-user-group fa-xl"></i></div>
            <div class="col-10">Bạn bè</div>
        </a></li>

        <li><a href="#" class="row">
            <div class="col-2"><i class="fa-solid fa-users fa-xl"></i></div>
            <div class="col-10">Đang follow</div>
        </a></li>

        <li><a href="#" class="row">
            <div class="col-2"><i class="fa-solid fa-bookmark fa-xl"></i></div>
            <div class="col-10">Bài viết đã lưu</div>
        </a></li>

        <li><a href="#" class="row">
            <div class="col-2"><i class="fa-solid fa-film fa-xl"></i></div>
            <div class="col-10">Video</div>
        </a></li>

        <li><a href="#" class="row">
            <div class="col-2"><i class="fa-solid fa-users-rectangle fa-xl"></i></div>
            <div class="col-10">Trang theo dỗi</div>
        </a></li>
    </div>
</div>