<% provide(:title, "Hoi-dap") %>
<% if logged_in? %>
<div class="row">
    <div class="col-4"></div>

    <div class="col-3 fix_div_forum">
        <div class="my_container">
            <i class="fa-solid fa-magnifying-glass"></i> Thanh tìm kiếm
            <hr>
            <ul class="list_forum">
                <li><a href="#" >Bài viết</a></li>
            </ul>
        </div>
    </div>

    <div class="col-4">
        <div class="my_container">
            <%= render 'snapshots/snapshot_form' %>
        </div>
        
        <br>

        <div>
            <%= render 'snapshots/feed' %>
        </div>
    </div>


    <div class="col-3"></div>
</div>

<% else %>

    <div>
        <h1> Vui long dang nhap</h1>
    </div>

<% end %>