<div id="<%= dom_id user %>">

  <p>
    <strong>Name:</strong>
    <%= user.name %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= user.email %>
  </p>

  <% if current_user.admin? %>
    <%= link_to "delete", user, method: :delete, data: { confirm: "chac chan xoa?" } %>
  <% end %>
</div>
