<% provide(:title, "follow") %>
<div class="row">
    <div class="col-1"></div>
    <div class="col-2">
      <%= render 'shared/user_infor' %>
    </div>
    <div class="col-1">
        <%= link_to current_user.name, current_user %>
    </div>
    <div class="col-4">
        <p><%= @title %></p>
        <% if @users.any? %>
            <div class="users fol1ow my_container">
                <%= render @users %>
            </div>
        <% end %>
    </div>
</div>