<div class="row">
  <div class="col-1"></div>
  <div class="col-2">
    <%= render 'shared/user_infor' %>
  </div>

  <div class="col-1">
    <% unless current_page?(current_user) %>
      <%= link_to current_user.name, current_user %>
    <% end %>
  </div>

  <div class="col-4">
    <div class="my_container">
      <%= render 'shared/snapshot_form' %>
    </div>
    <br>
    <div>
      <% if @user.snapshots.any? %>
          <%= render @snapshots %>
      <% end %>
    </div>
  </div>
  <div class="col-3">
    <div class="my_container">
      Da luu
    </div>
  </div>

  <div class="col-1"></div>
</div>