<div onclick="toggleDiv('flashcard_menu_pf', '.mui_ten_flashcard_pf')">
    <b>    
        <i class="fa-solid fa-chevron-up mui_ten_flashcard_pf" style="color: #0d0d0d;"></i>
        Flashcard
    </b>
</div>

<ul id="flashcard_menu_pf" class="my_container menu_right_flashcard">
    <li>
        <a href="#">
            <i class="fa-solid fa-caret-right fa-sm" style="color: #000000;"></i>
            Đã lưu
        </a>
    </li>
    <li>
        <a href="#">
            <i class="fa-solid fa-caret-right fa-sm" style="color: #000000;"></i>
            Flashcard của tôi
        </a>
    </li>
    <li>
        <a href="/flashcards/new">
            <i class="fa-solid fa-caret-right fa-sm" style="color: #000000;"></i>
            Thêm flashcard
        </a>
    </li>
</ul>