<center> <h5> <b> Flashcard </b></h5> </center>
<div class="container_use_flashcard">
    <div class="use_flashcard">
        <div id="flashcard_left" onclick = "changediv('flashcard_left', 'flashcard_right')">
            Từ vựng
        </div>

        <div id="flashcard_right" onclick = "changediv('flashcard_right', 'flashcard_left')">
            Nghĩa
        </div> 
    </div>
</div>