<% provide(:title, "Hoi-dap") %>


<div class="row">
    <div class="col-3"></div>
    <div class="col-3 fix_div_forum">
        <div class="my_container">
            <i class="fa-solid fa-magnifying-glass"></i> Thanh tìm kiếm
            <hr>
            <ul class="list_forum">
                <li><a href="#" >Flashcard</a></li>
            </ul>
        </div>
    </div>

    <div class="col-1"></div>

    <div class="col-4">
        <div class="my_container">
            <%= render 'flashcard/flashcard' %>
        </div>
    </div>


    <div class="col-3">
        <ul class="my_container">
            <i class="fa-solid fa-bookmark" style="color: #2e2e2e;"></i> 
            <b> Đã lưu </b>
        </ul>
    </div>

    <div class="col-1"></div>
</div>

