<div onclick="toggleDiv('bai_viet_luu', '.mui_ten_bai_viet1')">
    <b>    
        <i class="fa-solid fa-chevron-up mui_ten_bai_viet1" style="color: #0d0d0d;"></i>
        Bài viết
    </b>
</div>
<ul id="bai_viet_luu">
    <li>Bài viết 01</li>
    <li>Bài viết 02</li>
    <li>Bài viết 03</li>
    <li>Bài viết 04</li>
</ul>