<ul class="gioi_thieu_n5 gioi_thieu_tieng_nhat">
    <h4><b>Kiến thức cơ bản về ngôn ngữ Nhật</b></h4>
    <li>Tiếng Nhật gồm có 5 cấp độ: N5, N4, N3, N2, N1. Trong đó N1 là cấp độ cao nhất.</li>
    <li>Có các kì thi năng lực tiếng Nhật như: JLPT, NAS-TEST, TOP J.</li>

    <hr>
    <h4><b>Kiến thức cơ bản về việc bắt đầu học tiếng Nhật</b></h4>
    <li>Tiếng Nhật có 2 bảng chữ cái là: Hiragana và Katakana, để bắt đầu họ tiếng Nhật cần học 2 bảng chữ cái này.</li>
    <b>Hiragana</b>
    <li>Sử dụng thương ngày, dùng để đánh vần chữ Kanji, dùng trong ngữ pháp.</li>
    <b>Katakana</b>
    <li>Dùng cho tên riêng: sử dụng để viết tên riêng, từ ngữ đặc biệt, tên các công ty, thương hiệu, món ăn nước ngoài, và các từ liên quan đến công nghệ và khoa học,...</li>
    <b>Kanji</b>
    <li>Kanji là một hình thức chữ viết trong tiếng Nhật được mượn từ chữ Hán.</li>
    <li>Hầu hết các văn bản tiếng Nhật, bao gồm sách, báo chí, tài liệu học tập và kỹ thuật, đều sử dụng Kanji.</li>
</ul>
