<div class="my_container">
    <%= render 'shared/search' %>
    <hr>
    <div class="list_home">
        <center><h5><b><a href="/" >Giới thiệu về tiếng Nhật</a></b></h5></center>
        <a href="#kien_thuc_co_ban">
            <i class="fa-solid fa-caret-right fa-xs" style="color: #000000;"></i>
            Kiến thức cơ bản về ngôn ngữ Nhật
        </a><br>

        <a href="#bat_dau_hoc">
            <i class="fa-solid fa-caret-right fa-xs" style="color: #000000;"></i>
            Bắt đầu học tiếng Nhật
        </a><br>

        <a href="#gioi_thieu_trang_web">
            <i class="fa-solid fa-caret-right fa-xs" style="color: #000000;"></i>
            Giới thiệu về trang web này
        </a><br>

        <a href="#loi_nhan">
            <i class="fa-solid fa-caret-right fa-xs" style="color: #000000;"></i>
            Lời nhắn của admin
        </a><br>
    </div>
</div>