<div id="listn5_0" class="listn5_content">
    <%= render 'bang_chu_cai' %>
</div>
<div id="listn5_1" class="listn5_content">
    <%= render 'bai01_n5' %>
</div>
<div id="listn5_2" class="listn5_content">
    2
</div>
<div id="listn5_3" class="listn5_content">
    3
</div>
<div id="listn5_4" class="listn5_content">
    4
</div>
<div id="listn5_5" class="listn5_content">
    5
</div>
<div id="listn5_6" class="listn5_content">
    6
</div>
<div id="listn5_7" class="listn5_content">
    7
</div>
<div id="listn5_8" class="listn5_content">
    8
</div>
<div id="listn5_9" class="listn5_content">
    9
</div>
<div id="listn5_10" class="listn5_content">
    10
</div>