<div class="row">
    <div class="col-1"></div>
    <div class="col-3">
        <div class="my_container">
            <i class="fa-solid fa-magnifying-glass"></i>Thanh tìm kiếm
            <hr>
            <li>N5</li>
            <li>N4</li>
        </div>
    </div>

    <div class="col-4">
        <div class="container_formula">

        </div>
    </div>


    <div class="col-3">
        <div class="my_container">
            Đã chọn
        </div>
    </div>

    <div class="col-1"></div>
</div>