<div class="row">
    <div class="col-4"></div>
    <div class="col-3 fix_div_forum">
        <div class="my_container">
            <%= render 'home/list_home' %>
        </div>
    </div>

    <div class="col-6">
        <div class="my_container">
            <%= render 'home/gioi_thieu' %>
        </div>
    </div>

    <div class="col-2"></div>
</div>