<div class="row">
    <div class="col-1"></div>
    <div class="col-3">
        <div class="container_list">
            <div class="title_cong_thuc"> <a href="/formula">Dạng đề</a></div>
            <hr>
            <p>Thanh tim kiem</p>
            <p>Hằng đẳng thức</p>
        </div>
    </div>

    <div class="col-4">
        <div class="container_formula">

        </div>
    </div>


    <div class="col-3">
        <div class="my_container">
            Đã chọn
        </div>
    </div>

    <div class="col-1"></div>
</div>