<% provide(:title, "Trang chu") %>

<div class="row">
    <div class="col-1">

    </div>

    <div class="col-3 list_ct my_container">
    
    </div>


    <div class="col-4">

    </div>



    <div class="col-4">
    
    </div>
</div>