<% provide(:title, "Trang chu") %>

<div class="row">
    <div class="col-4">
        thanh cong cu
    </div>
    <div class="col-5">
        ve
    </div>
    <div class="col-3">
        chi tiet
    </div>
</div>
