<div id="<%= dom_id feedback %>">
  <p>
    <strong>Grade:</strong>
    <%= feedback.grade %>
  </p>

  <p>
    <strong>Content:</strong>
    <%= feedback.content %>
  </p>

  <p>
    <strong>User:</strong>
    <%= feedback.user_id %>
  </p>

</div>
