/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self

 filename.scss

 filename.coffee

 filename.js.erb.coffee
 
 */

 @import 'font-awesome';
body {
    margin: 0;
    background: rgb(255, 255, 255);
    .main_web{
        min-height: 630px;
    }
}

.container{
    max-width: 100%;
    padding: 0;
}

// user
.menu_pf {
    width: 40%;
    z-index: 1;
    margin-left: 5%;
    padding: 3%;
    background: #5c5c5c;
    color: rgb(255, 255, 255);
    border-radius: 5px;

    li {
        a {
            color: rgb(0, 0, 0);
        }
    }
}

//avatars
.avatar_pf {
    img {
        width: 70%;
    }
}
.avatar_wrapper {
    padding: 0;
    img {
        width: 70%;
        border-radius: 50%;
    }
}
.avatar_wrapper_f_snapshot {
    padding: 0;
    img {
        width: 200%;
        border-radius: 50%;
    } 
}
.avatar_web {
    padding-top: 5%;
    img {
        width: 10%;
        border-radius: 50%;
    } 
}

// snapshot
.img_snapshot {
    padding-bottom: 4px;
    border-bottom: 1px solid rgb(128, 128, 128);
    img{
        margin-bottom: 3px;
        width: 100%;
    }
}
.snapshot_padding{
    padding: 6px;
    .content_snapshot {
        padding-left: 2%;
    }
}
.tim_snapshot {
    margin-left: 3%;
}
  


.my_container {
    background: #dfdfdf;
    color: rgb(0, 0, 0);
    padding: 10px;
    border: 1px solid #F2F2F2;
    border-radius: 5px;
}
.container_list {
    background: #ebebeb;
    padding: 8px;
}

.menu .hide {
    position: absolute;
    visibility: hidden;
    transition: visibility 0.5s ease-in-out;
}
  
.menu:hover .hide {
    visibility: visible;
}




a:hover {
    text-decoration: none;
}

li {
    list-style-type: none;
}