.header {
    background: #333333;
    height: 72px;
}

body {
   background: #d8d8d8;
   .box-user {
    border: 1px solid black;
   }
   .avatar {
    width: 100px;
   }
}

.footer {
    color: red;
}
