.item_edit_pf {
    padding: 0 50px;
    .change_edit_pf{
        width: 100%;
        padding: 5px 15px;
        border-radius: 6px;
        background: #bb2525;
        color: white;
      }
    .change_edit_pf:hover{
      background: #941212;
    }
}