// users/_new
.item_tao_user{
    padding: 0 10px;
    input {
        width: 100%;
        border-radius: 4px;
        border: 1px solid #bb2525;
    }
    .change_edit_pf{
        width: 80px;
    }
    div {
        margin: 5px 0;
    }
    .nut_dangnhap{
        width: 100%;
        background: #bb2525;
        color: white;
    }
    .nut_dangnhap:hover{
        background: #941212;
    }
}

.nut_taotaikhoan{
    text-align: center;
    a {
        background: #ffffff;
        padding: 10px 20px;
        color: #941212;
        border: 1px solid #f3adad;
        border-radius: 6px;
    }

    a:hover {
        background: #f3adad;
    }
}

.title_login {
    color: #941212;
}
