// users/show
.container_user_info{
    margin-left: 10px;
}
.snapshot_none {
    font-size: 18px;
    color: rgba(0, 0, 0, 0.6);
}

.back_pf {
    float: right;
    z-index: 10;
    i {
        color: #000000;
    }
    i:hover {
        color: #a32828;
    }
}