<div class="footer">
    <div class="row">
        <div class="col-5"></div>
        <div class="col-3">
            <div class="cam_on">Cảm ơn đã đến với trang của chúng tôi!</div>
        </div>
        <div class="col-4">
            <div class="logo_web">
                <%= image_tag("logo_web/logo.png") %>
            </div>
        </div>
</div>