<div class="row">
    <div class="col-3">Logo</div>
    <div class="col-6">
        <div class="row">
            <a href="/" class="col-4"> Trang Chu</a>
            <a href="/help" class="col-4"> Hoi & dap</a>
            <a href="/congthuc" class="col-4"> Cong Thuc</a>
        </div>
    </div>

    <div class="col-3">
        <ul>
            <% if logged_in? %>
                <div class="">
                    <li> <%= link_to current_user.name, current_user %> </li>
                    <li> <%= link_to "Setings", edit_user_path(current_user) %> </li>
                    <li> <%= link_to "Log out", logout_path, method: :delete %> </li>

                </div>
            <% else %>
                <a href="/login"> Dang nhap </a>
            <% end %>
        </ul>
    </div>
</div>