<div class="row">
    <div class="col-3 logo">Logo</div>
    <div class="col-6 main-menu">
        <div class="row">
            <a href="/" class="col-4"> Trang Chu</a>
            <a href="/help" class="col-4"> Hoi & dap</a>
            <a href="/congthuc" class="col-4"> Cong Thuc</a>
        </div>
    </div>

    <div class="col-3">
        <ul>
            <% if logged_in? %>
                <div class="menu login-name">        
                    <%= link_to @user.name, current_user %>

                    <div class="hide menu-profile">
                        <ul>
                            <li> <%= link_to "Setings", edit_user_path(current_user) %> </li>
                            <li> <%= link_to "Log out", logout_path, method: :delete %> </li>
                        </ul>
                    </div>
                </div>
            <% else %>
                <a href="/login"> Dang nhap </a>
            <% end %>
        </ul>
    </div>
</div>